</div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <hr/>
        <small class="text-muted">
         by zhangdh
        </small>
    </div>
</div>

</div>
<script src="/plugins/jquery/dist/jquery.js"></script>
<script src="/plugins/noty/jquery.noty.packaged.js"></script>
</body>
</html>
